<% @recipes.each do |recipe| %>
  <section>
    <p><%= recipe.name %></p>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cook_time %></p>
    <a href='/recipes/<%= recipe.id %>'>View</a>
  </section>
<% end %>